/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}


/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.container-max {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.col {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 320px */
@media (min-width: 320px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 768px */
@media (min-width: 768px) {
  .container {
    width: 80%; }
  .col {
    margin-left: 4%; }
  .col:first-child {
    margin-left: 0; }

  .col-1                     { width: 4.66666666667%; }
  .col-2                     { width: 13.3333333333%; }
  .col-3                     { width: 22%;            }
  .col-4                     { width: 30.6666666667%; }
  .col-5                     { width: 39.3333333333%; }
  .col-6                     { width: 48%;            }
  .col-7                     { width: 56.6666666667%; }
  .col-8                     { width: 65.3333333333%; }
  .col-9                     { width: 74.0%;          }
  .col-10                    { width: 82.6666666667%; }
  .col-11                    { width: 91.3333333333%; }
  .col-12                    { width: 100%; margin-left: 0; }

  /* Offsets */
  .col-offset-1              { margin-left: 8.66666666667%; }
  .col-offset-2              { margin-left: 17.3333333333%; }
  .col-offset-3              { margin-left: 26%;            }
  .col-offset-4              { margin-left: 34.6666666667%; }
  .col-offset-5              { margin-left: 43.3333333333%; }
  .col-offset-6              { margin-left: 52%;            }
  .col-offset-7              { margin-left: 60.6666666667%; }
  .col-offset-8              { margin-left: 69.3333333333%; }
  .col-offset-9              { margin-left: 78.0%;          }
  .col-offset-10             { margin-left: 86.6666666667%; }
  .col-offset-11             { margin-left: 95.3333333333%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; }
body {
  font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than mobile large */
@media (min-width: 768px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  text-decoration: none;
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.full-w             { width: 100%; }
.full-mw            { max-width: 100%; }
.pull-r             { float: right; }
.pull-l             { float: left; }
.txt-l              { text-align: left; }
.txt-r              { text-align: right; }
.txt-c              { text-align: center; }
.dis-n              { display: none; }
.dis-b              { display: block; }
.dis-i              { display: inline; }
.dis-ib             { display: inline-block; }
.pad-v              { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.lst-n              { list-style: none }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.container-max:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
img { vertical-align: middle; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Mobile */
@media (min-width: 320px) {

}
@media (max-width: 767px) {
  .pad-v-xs { margin-top: 1.5rem; margin-bottom: 1.5rem;}
}

/* Tablet */
@media (min-width: 768px) {
  .dis-n-sm                     { display: none; }
  .dis-b-sm                     { display: block; }
}
@media (max-width: 1023px) {
  .mgl-0-sm                     { margin-left: 0; }
}

/* Laptop */
@media (min-width: 1024px) {
  .dis-n-md                     { display: none; }
  .dis-b-md                     { display: block; }
  .col-1-md                     { width: 4.66666666667%; }
  .col-2-md                     { width: 13.3333333333%; }
  .col-3-md                     { width: 22%;            }
  .col-4-md                     { width: 30.6666666667%; }
  .col-5-md                     { width: 39.3333333333%; }
  .col-6-md                     { width: 48%;            }
  .col-7-md                     { width: 56.6666666667%; }
  .col-8-md                     { width: 65.3333333333%; }
  .col-9-md                     { width: 74.0%;          }
  .col-10-md                    { width: 82.6666666667%; }
  .col-11-md                    { width: 91.3333333333%; }
  .col-12-md                    { width: 100%; margin-left: 0; }
}
@media (max-width: 1279px) {
  .mgl-0-md                     { margin-left: 0; }
}

/* Desktop HD */
@media (min-width: 1280px) {
  .dis-n-lg                     { display: none; }
  .dis-b-lg                     { display: block; }
  .col-1-lg                     { width: 4.66666666667%; }
  .col-2-lg                     { width: 13.3333333333%; }
  .col-3-lg                     { width: 22%;            }
  .col-4-lg                     { width: 30.6666666667%; }
  .col-5-lg                     { width: 39.3333333333%; }
  .col-6-lg                     { width: 48%;            }
  .col-7-lg                     { width: 56.6666666667%; }
  .col-8-lg                     { width: 65.3333333333%; }
  .col-9-lg                     { width: 74.0%;          }
  .col-10-lg                    { width: 82.6666666667%; }
  .col-11-lg                    { width: 91.3333333333%; }
  .col-12-lg                    { width: 100%; margin-left: 0; }
}
@media (max-width: 1919px) {
  .mgl-0-lg                     { margin-left: 0; }
}

/* Desktop FHD */
@media (min-width: 1920px) {
  .dis-n-xl                     { display: none; }
  .dis-b-xl                     { display: block; }
  .mgl-0-xl                     { margin-left: 0; }
  .col-1-xl                     { width: 4.66666666667%; }
  .col-2-xl                     { width: 13.3333333333%; }
  .col-3-xl                     { width: 22%;            }
  .col-4-xl                     { width: 30.6666666667%; }
  .col-5-xl                     { width: 39.3333333333%; }
  .col-6-xl                     { width: 48%;            }
  .col-7-xl                     { width: 56.6666666667%; }
  .col-8-xl                     { width: 65.3333333333%; }
  .col-9-xl                     { width: 74.0%;          }
  .col-10-xl                    { width: 82.6666666667%; }
  .col-11-xl                    { width: 91.3333333333%; }
  .col-12-xl                    { width: 100%; margin-left: 0; }
}

/* Desktop QHD */
@media (min-width: 2560px) {
  .dis-n-qhd { display: none; }
  .dis-b-qhd { display: block; }
}

/* Desktop UHD */
@media (min-width: 3840px) {
  .dis-n-uhd { display: none; }
  .dis-b-uhd { display: block; }
}


@font-face {
  font-family: Now;
  src: url(../fonts/Now.otf);
}

:root {
  --blue-set: 204, 70%;
  --purple-set: 261, 60%;
  --pink-set: 309, 60%;
  --red-set: 354, 70%;
  --orange-set: 27, 100%;
  --yellow-set: 45, 100%;
  --green-set: 145, 65%;
  --teal-set: 168, 75%;
  --cyan-set: 190, 90%;
  --white-light: #eee;
  --white: #ddd;
  --white-dark: #ccc;
  --gray-set: 210, 10%;
  --black-light: #292E3D;
  --black: #14161d;
  --black-dark: #0A0B0F;
  --blue-light: hsl(var(--blue-set), 60%);
  --blue: hsl(var(--blue-set), 50%);
  --blue-dark: hsl(var(--blue-set), 40%);
  --purple-light: hsl(var(--purple-set), 60%);
  --purple: hsl(var(--purple-set), 50%);
  --purple-dark: hsl(var(--purple-set), 40%);
  --pink-light: hsl(var(--pink-set), 60%);
  --pink: hsl(var(--pink-set), 50%);
  --pink-dark: hsl(var(--pink-set), 40%);
  --red-light: hsl(var(--red-set), 65%);
  --red: hsl(var(--red-set), 55%);
  --red-dark: hsl(var(--red-set), 45%);
  --orange-light: hsl(var(--orange-set), 60%);
  --orange: hsl(var(--orange-set), 50%);
  --orange-dark: hsl(var(--orange-set), 40%);
  --yellow-light: hsl(var(--yellow-set), 60%);
  --yellow: hsl(var(--yellow-set), 50%);
  --yellow-dark: hsl(var(--yellow-set), 40%);
  --green-light: hsl(var(--green-set), 45%);
  --green: hsl(var(--green-set), 35%);
  --green-dark: hsl(var(--green-set), 25%);
  --teal-light: hsl(var(--teal-set), 55%);
  --teal: hsl(var(--teal-set), 45%);
  --teal-dark: hsl(var(--teal-set), 35%);
  --cyan-light: hsl(var(--cyan-set), 50%);
  --cyan: hsl(var(--cyan-set), 40%);
  --cyan-dark: hsl(var(--cyan-set), 30%);
  --gray-light: hsl(var(--gray-set), 65%);
  --gray: hsl(var(--gray-set), 45%);
  --gray-dark: hsl(var(--gray-set), 25%);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: Now, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--white);
  background-color: var(--black);
}

a {
  text-decoration: none;
  color: var(--cyan);
}
a:hover {
  text-decoration: underline;
  color: var(--cyan-light);
}

code {
  border-color: var(--black-light);
  background-color: var(--black-light);
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, var(--black-dark), var(--cyan-dark), var(--black-dark));
}

.navbar {
  box-sizing: border-box;
  min-height: 125px;
  padding: 14.5px 0;
  background-color: var(--black-light);
  background-image: url(../img/grid.webp);
}
.navbar-logo {
  line-height: 1;
  font-size: 6rem;
  color: var(--white);
}
.navbar-logo img {
  margin-top: 20px;
}
a.navbar-logo:hover {
  text-decoration: none;
  color: var(--white-light);
}
a.navbar-logo:hover img {
  content: url(../img/logo-hover.webp);
}
.navbar-links {
  margin-top: 17.5px;
  text-align: right;
}
.navbar-links ul {
  margin-bottom: 0;
  list-style: none;
}
.navbar-links li {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .navbar {
    text-align: center;
  }
  .navbar-logo img {
    margin-bottom: 20px;
  }
  .navbar-links .button,
  .navbar-links a {
    width: 100%;
  }
  .navbar-links li {
    margin-bottom: 15px;
  }
  .navbar-links .button:last-child,
  .navbar-links li:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .navbar-links .button,
  .navbar-links a {
    margin-bottom: 0;
    border-radius: 30px !important;
    width: 207px;
  }
  .navbar-links li {
    display: inline-block;
  }
}

.buttonbar {
  min-height: 125px;
  background-color: var(--black-light);
  background-image: url(../img/grid.webp);
}
.buttonbar-container {
  padding: 32.5px;
}
.buttonbar-list {
  text-align: center;
}
.buttonbar-list ul {
  list-style: none;
  margin-bottom: 0;
}
@media (min-width: 1920px) {
  .buttonbar {
    min-height: 250px;
  }
  .buttonbar-container {
    padding-top: 0;
    border-left: 480px solid transparent;
    border-right: 480px solid transparent;
    border-top: 125px solid var(--black);
  }
  .buttonbar-list {
    position: relative;
    top: -93px;
    left: 0;
    right: 0;
  }
}
@media (max-width: 767px) {
  .buttonbar-list .button,
  .buttonbar-list a {
    width: 100%;
  }
  .buttonbar-list li {
    margin-bottom: 15px;
  }
  .buttonbar-list .button:last-child,
  .buttonbar-list li:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .buttonbar-list .button,
  .buttonbar-list a {
    margin-bottom: 0;
    width: 207px;
  }
  .buttonbar-list li {
    display: inline-block;
    margin-bottom: 0;
  }
}

.featured {
  background-image: url(../img/featured.webp);
  background-position: center;
  background-size: cover;
}
@media (min-width: 1920px) {
  .featured {
    min-height: 705px;
  }
}

.logobar {
  border-left: 480px solid transparent;
  border-right: 480px solid transparent;
  border-top: 125px solid var(--black);
}
.logobar-logo {
  position: absolute;
  top: 136.5px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 6rem;
}

main {
  padding: 67.5px 0;
  background-color: var(--black-dark);
}
main.homepage {
  padding: 200px 0;
}
main article {
  margin-bottom: 120px;
  color: var(--gray-light);
}
main article:last-child {
  margin-bottom: 0;
}
main article p {
  color: var(--white);
}

footer {
  min-height: 250px;
  padding: 92.5px 0;
  font-size: 1.2rem;
  text-align: center;
}
footer p {
  font-size: 1rem;
  margin-bottom: 0;
}
.footer-links {
  margin-bottom: 25px;
}
.footer-links ul {
  margin-bottom: 0;
}
.footer-links li {
  display: inline;
}

/* Buttons */
.menu-button a,
.menu-button-cyan a {
  display: inline-block;
  height: 60px;
  padding: 13px 18.5px;
  color: var(--white);
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
}
.button-lg {
  height: 60px;
  padding: 13px 18.5px;
  font-size: 3rem;
  font-weight: normal;
}
.button.button-blue,
button.button-blue {
  border: 1px solid var(--blue-dark);
  color: var(--blue-light);
  background-color: var(--blue-dark);
}
.button.button-blue:hover,
button.button-blue:hover,
.button.button-blue:focus,
button.button-blue:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-purple,
button.button-purple {
  border: 1px solid var(--purple-dark);
  color: var(--purple-light);
  background-color: var(--purple-dark);
}
.button.button-purple:hover,
button.button-purple:hover,
.button.button-purple:focus,
button.button-purple:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-pink,
button.button-pink {
  border: 1px solid var(--pink-dark);
  color: var(--pink-light);
  background-color: var(--pink-dark);
}
.button.button-pink:hover,
button.button-pink:hover,
.button.button-pink:focus,
button.button-pink:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-red,
button.button-red {
  border: 1px solid var(--red-dark);
  color: var(--red-light);
  background-color: var(--red-dark);
}
.button.button-red:hover,
button.button-red:hover,
.button.button-red:focus,
button.button-red:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-orange,
button.button-orange {
  border: 1px solid var(--orange-dark);
  color: var(--orange-light);
  background-color: var(--orange-dark);
}
.button.button-orange:hover,
button.button-orange:hover,
.button.button-orange:focus,
button.button-orange:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-yellow,
button.button-yellow {
  border: 1px solid var(--yellow-dark);
  color: var(--yellow-light);
  background-color: var(--yellow-dark);
}
.button.button-yellow:hover,
button.button-yellow:hover,
.button.button-yellow:focus,
button.button-yellow:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-green,
button.button-green {
  border: 1px solid var(--green-dark);
  color: var(--green-light);
  background-color: var(--green-dark);
}
.button.button-green:hover,
button.button-green:hover,
.button.button-green:focus,
button.button-green:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-teal,
button.button-teal {
  border: 1px solid var(--teal-dark);
  color: var(--teal-light);
  background-color: var(--teal-dark);
}
.button.button-teal:hover,
button.button-teal:hover,
.button.button-teal:focus,
button.button-teal:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-cyan,
button.button-cyan,
.menu-button-cyan a {
  border: 1px solid var(--cyan-dark);
  color: var(--cyan-light);
  background-color: var(--cyan-dark);
}
.button.button-cyan:hover,
button.button-cyan:hover,
.menu-button-cyan a:hover,
.button.button-cyan:focus,
button.button-cyan:focus,
.menu-button-cyan a:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-white,
button.button-white {
  border: 1px solid var(--white-dark);
  color: var(--white-light);
  background-color: var(--white-dark);
}
.button.button-white:hover,
button.button-white:hover,
.button.button-white:focus,
button.button-white:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-gray,
button.button-gray,
.menu-button a {
  border: 1px solid var(--gray-dark);
  color: var(--gray-light);
  background-color: var(--gray-dark);
}
.button.button-gray:hover,
button.button-gray:hover,
.menu-button a:hover,
.button.button-gray:focus,
button.button-gray:focus,
.menu-button a:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}
.button.button-black,
button.button-black {
  border: 1px solid var(--black-dark);
  color: var(--black-light);
  background-color: var(--black-dark);
}
.button.button-black:hover,
button.button-black:hover,
.button.button-black:focus,
button.button-black:focus {
  text-decoration: none;
  border-color: transparent;
  color: var(--white-light);
  background-image: url(../img/grid.webp);
}

.button-outline {
  background-color: transparent !important;
}
.button-outline:hover {
  background-image: none !important;
  outline: 1px solid var(--white-light);
}

.page-header {
  min-height: 125px;
  padding: 37px 0;
}
.page-header h1 {
  margin-bottom: 0;
  font-size: 3.8rem;
}
.page-header h6 {
  margin-bottom: 0;
}

.post-header {
  min-height: 125px;
  padding: 37px 0;
  color: var(--gray-light);
}
.post-header h1 {
  color: var(--white);
}
.post-header .label {
  margin-right: 3px;
}

.tag-seperator {
  padding: 5px;
}

.preview-section {
  min-height: 350px;
  padding: 57.5px 0;
  background-color: var(--black-dark);
}
.preview-section img {
  border: 5px solid transparent;
  border-radius: 10px;
  opacity: 0.85;
}
.preview-section img:hover {
  outline: 1px solid var(--white-light);
  opacity: 1;
}

.previewbar {
  min-height: 125px;
  padding: 37px 0;
  text-align: center;
}
.previewbar .button:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .previewbar .button {
    margin-bottom: 0;
  }
}

.info-section {
  padding: 67.5px 0;
  background-color: var(--black-light);
  background-image: url(../img/grid.webp);
}
.info-section a {
  font-size: 2.5rem;
}
.info-section svg {
  font-size: 2rem;
  color: var(--cyan-light);
}

.comment-section {
  padding: 67.5px 0;
  background-color: var(--black-light);
}

.label {
  padding: 4px 12px;
  font-size: 1rem;
  line-height: 1;
  background-color: var(--black-light);
  color: var(--white-light);
}
.label.label-blue {
  background-color: var(--blue-dark);
}
.label.label-purple {
  background-color: var(--purple-dark);
}
.label.label-pink {
  background-color: var(--pink-dark);
}
.label.label-red {
  background-color: var(--red-dark);
}
.label.label-orange {
  background-color: var(--orange-dark);
}
.label.label-yellow {
  background-color: var(--yellow-dark);
}
.label.label-green {
  background-color: var(--green-dark);
}
.label.label-teal {
  background-color: var(--teal-dark);
}
.label.label-cyan {
  background-color: var(--cyan-dark);
}
.label.label-white {
  background-color: var(--white-dark);
}
.label.label-gray {
  background-color: var(--gray-dark);
}
.label.label-black {
  background-color: var(--black-dark);
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
.table th, .table td {
  padding: 10px;
}
.table-bordered th, .table-bordered td {
  border: 2px solid var(--white);
}
.table-dark {
  color: var(--white);
  background-color: var(--black-light);
}
.table-dark th, .table-dark td, .table-dark thead th {
  border-color: var(--black);
}
.table-dark tbody tr:hover {
  outline: 1px solid var(--cyan-dark);
  color: var(--white-light);
  background-color: var(--cyan-dark);
}

.card {
  margin-bottom: 15px;
  border: 1px solid var(--black);
  padding: 2px;
  background-color: var(--black-light);
  text-align: center;
}
.card img {
  max-width: 100%;
}
.card p {
  margin: 0;
  padding: 20px;
  font-size: 2rem;
}
a.card {
  display:block;
  text-decoration: none;
}
a.card:hover {
  outline: 1px solid var(--cyan-dark);
  background-color: var(--cyan-dark);
}

.wiki-menu {
  position: sticky;
  z-index: 1;
  top: -1px;
  padding: 37px 0;
  background-color: var(--black-light);
}
.wiki-menu .button {
  margin-bottom: 0;
}

.wiki-info {
  padding: 67.5px 0;
  background-color: var(--black-dark);
  background-image: url(../img/grid.webp);
}
@media (max-width: 767px) {
  .wiki-info .cover {
    margin-bottom: 30px;
  }
}

.wiki-wallpapers {
  padding: 67.5px 0;
  background-image: url(../img/grid.webp);
}

.wiki-cheats {
  padding: 67.5px 0;
  background-color: var(--black-dark);
  background-image: url(../img/grid.webp);
}

.wiki-guide {
  padding: 67.5px 0;
  background-image: url(../img/grid.webp);
}

.pagination {
  padding: 37px 0;
  background: var(--black-light);
}
.pagination .button {
  margin-bottom: 0;
}

#featured-image figcaption {
  padding: 20px;
  background: var(--black);
}

#post-entry {
  font-size: 2rem;
}
@media (min-width: 1280px) {
  #post-entry {
    padding: 0 90px;
  }
}
@media (min-width: 1920px) {
  #post-entry {
    padding: 0 180px;
  }
}
